################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/data
/out
/.vs
CMakeSettings.json
__pycache__
/.vscode
figs
figs.zip